body{
    background-color: rgb(202, 199, 199);
    margin: 0;
}

div.container{
    width: 600px;
    margin: auto;
}

.header{
background-color: white;
padding: 10px;

}

.header h1{
 margin: 0;
}

.page{
width: 600px;
margin: auto;
}

.post{
    background-color: white;
    margin-top: 10px;
}

.post-header h2:first-child{
    display: inline-block;
    width:80% ;
}

.post-header div:last-child{
    display: inline-block;
    width: 16%;
    text-align: right;
    color: grey;
}

.post h2, .post p{
    padding: 10px;
    margin: 0;
}

img{
    width: 100%;
}



